<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/account.css">
</head>
<body>
	<div class="bg-img"></div>
	<nav id="nav">
		<ul>
			<%if @user%>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/account">Account</a></li>
				<li id="log_out"><a href="/log-out">Log Out</a></li>
			<%end%>
		</ul>
	</nav>
	<div class="notice">
		<%= flash[:notice] if flash[:notice] %>
	</div>

	<div class="error">
		<%= flash[:error] if flash[:error] %>
	</div>

	<div id="account_wrapper">
		<div id="account">
			<div id="account_info">
				<h1>hello, <%=@user.username %></h1>
					<p><span>name</span> :  <%= @user.name%></p>
					<p><span>phone</span> :  <%= @user.phone%></p>
					<p><span>city</span> :  <%= @profile.city%></p>
					<p><span>field</span> :  <%= @profile.field%></p>
					<p id="bio"><span>bio</span> <br/><%= @profile.bio%></p>	
				<form method="post" action="/delete_account">
					<button id="destroy">
						Delete Account 
					</button>
				</form>
			</div>
		</div>
		<!-- where you write/create post -->
		<div id="post_div">
			<div class="post_create">
				<form method="post" action="/post_create">
					<div class="post_type">
				        <textarea id="textarea" name="post_text" maxlength="150" placeholder="What talent are you looking for? Enter text here..." onkeypress="counter()"></textarea>
				    </div>
				    <div id="post_toobox">
				    	<span id="follow">
				    		
				    	</span>
				    	<span id="post_counter">
				    		150
				    	</span>
				    	<button>
				    		<span>submit</span>
				    	</button>
				    </div>
			    </form>	
			</div>

			<!-- where privious posts shows -->
			<div id="posts">
				<% if @user.posts %>				
						<% @user.posts.reverse_each.each do |post| %>
							<div class="indivisual">
								<div id="post_text">
									<p><%= post.post_text %></p>	
								</div>
								<div id="post_toobox">
							    	<span id ="post_time">
							    		created at <%= post.date.strftime('%c') %> 
							    	</span>
							    	<button id="post_delete">
							    		<a href="/delete_post/<%= post[:id] %>"> delete </a>
							    	</button>
						    	</div>
						    </div>
					    <%end%>
				<%end%>
			</div>
		</div>
	</div>
	<!-- SHOWING LASTest 10 USER LINK -->
	<div id="lastest_ten_user">
	<h2>top 10 newbies</h2>
		<ul>
			<%@users.last(10).each do |user|%>
				<li><a href="/friend/<%= user[:id] %>">
					<%= user.username%></a>
				</li>
			<%end%>
		</ul>
	</div>

	<script type="text/javascript">
		var count;
		function counter(){
			var GetText =  document.getElementById('textarea');
	 		var TextLength = (GetText.value.length);
	 		document.getElementById('post_counter').innerHTML = 150-TextLength;
			 setTimeout("counter()",100);
		}
	</script>
</body>
</html>
