

<div class="topbar">
	<h1>hello <%=@user.username %></h1>
</div>
<!-- test -->
<div>
USER_ID:  <%= @user.id%><br/>
NAME: <%= @user.name%> <br/>
PHONE: <%= @user.phone%> <br/>
PASSWORD: <%= @user.password%><br/>
PROFILE_USER_ID: <%= @profile.user_id%><br/>
CITY:  <%= @profile.city%><br/>
FIELD: <%= @profile.field%><br/>
BIO: <%= @profile.bio%><br/>
</div>

<form method="post" action="/delete_account">
	<button id="destroy">Delete Account </button>
</form>
	
<!-- followeres -->
<div id="followers">
	FOLLOWERS
</div>
<div id="following">
	FOLLOWING
</div>

<!-- SHOWING LASTest 10 USER LINK -->
<ul>
<%@users.last(10).each do |user|%>
	<li><a href="/friend/<%= user[:id] %>"><%= user.username%></a></li>
<%end%>
</ul>

<!-- where you write/create post -->
<div class="post_create" id="post">
	<form method="post" action="/post_create">
		<div class="post_text">
	        <label for="msg">Message:</label>
	        <textarea id="post" name="post_text" maxlength="150"></textarea>
	    </div>
	    <div id="post_toobox">
	    	<span id="follow">
	    		
	    	</span>
	    	<span class="post_counter">
	    		<!-- this is where letter counter shows : future JS -->
	    	</span>
	    	<span id ="post_time">
	    		<!-- this is where letter counter shows : future JS -->
	    		possible time
	    	</span>
	    	<button onclick="getTime(event)">
	    		<span>post</span>
	    	</button>
	    </div>
    </form>	
</div>

<!-- where privious posts shows -->
<div class="posts">
	POSTS
	<% if @user.posts %>
		<div class="posts indivisual">
			<% @user.posts.reverse_each.each do |post| %>
				<div class="posts text">
					
						<%= post.user_id %> 
						<%= post.post_text %><br/>
					
				</div>
				<div id="post_toobox">
			    	<span id ="post_time">
			    		<!-- this is where letter counter shows : future JS -->
			    		created at <%= post.date %> 
			    	</span>
			    	<button>
			    		<a href="/delete_post/<%= post[:id] %>"> delete </a>
			    	</button>
		    	</div>
		    <%end%>
		</div>

	<%end%>

</div>

<script type="text/javascript">
	var day;
	function getTime(event){
		day = new Date();
		console.log(day);
		document.getElementById("post_time").innerHTML = day;
	}
</script>
